/* Primary Color*/
$cyanDark: #2b788b;
$cyanLight: #c3dce3;
$pinkDark: #945069;
$pinkLight: #f2d4dc;
$black: #000000;
$greyLight: #f6f5f4;
$greyMedium: #e0e0e0;
$greyIcon: #bababa;
$greyDark: #757575;

/* Secondary Color*/
$cyan: #5996a5;
$green: #639b6d;
$pink: #a15993;
$red: #a95151;
$yellow: #c4a24c;
$orange: #cb5b43;

@mixin headingBaseStyle {
  font-family: 'Dela Gothic One';
  font-style: normal;
  letter-spacing: -0.04em;
  color: #000000;
}

.heading--h1 {
  @include headingBaseStyle;
  font-size: 56px;
  line-height: 120%;
}

.heading--h2 {
  @include headingBaseStyle;
  font-size: 48px;
  line-height: 100%;
}

.heading--h3 {
  @include headingBaseStyle;
  font-size: 32px;
  line-height: 100%;
}

.heading--h4 {
  @include headingBaseStyle;
  font-size: 26px;
  line-height: 100%;
}

.fontPrimaryColor--cyanDark {
  color: $cyanDark;
}

.fontPrimaryColor--cyanLight {
  color: $cyanLight;
}

.fontPrimaryColor--pinkDark {
  color: $pinkDark;
}

.fontPrimaryColor--pinkLight {
  color: $pinkLight;
}

.fontPrimaryColor--black {
  color: $black;
}

.fontPrimaryColor--greyLight {
  color: $greyLight;
}

.fontPrimaryColor--greyMedium {
  color: $greyMedium;
}

.fontPrimaryColor--greyIcon {
  color: $greyIcon;
}

.fontPrimaryColor--greyDark {
  color: $greyDark;
}

.fontSecondaryColor--cyan {
  color: $cyan;
}

.fontSecondaryColor--green {
  color: $green;
}

.fontSecondaryColor--pink {
  color: $pink;
}

.fontSecondaryColor--red {
  color: $red;
}

.fontSecondaryColor--yellow {
  color: $yellow;
}

.fontSecondaryColor--orange {
  color: $orange;
}
