/* Primary Color*/
$cyanDark: #2b788b;
$cyanLight: #c3dce3;
$pinkDark: #945069;
$pinkLight: #f2d4dc;
$black: #000000;
$greyLight: #f6f5f4;
$greyMedium: #e0e0e0;
$greyIcon: #bababa;
$greyDark: #757575;
$Zambezi: #585858;

/* Secondary Color*/
$cyan: #5996a5;
$green: #639b6d;
$greenLight: #639b6d4d;
$pink: #a15993;
$red: #a95151;
$yellow: #c4a24c;
$yellowLight: #c4a24c4d;
$orange: #cb5b43;
$orangeLight: #cb5b434d;
$checkBox: #f8fafb;

/* Generally used color*/
$white: #ffffff;
