/* Primary Color*/
$cyanDark: #2b788b;
$cyanLight: #c3dce3;
$pinkDark: #945069;
$pinkLight: #f2d4dc;
$black: #000000;
$greyLight: #f6f5f4;
$greyMedium: #e0e0e0;
$greyIcon: #bababa;
$greyDark: #757575;
$Zambezi: #585858;

/* Secondary Color*/
$cyan: #5996a5;
$green: #639b6d;
$greenLight:#639B6D4D;
$pink: #a15993;
$red: #a95151;
$yellow: #c4a24c;
$yellowLight:#C4A24C4D;
$orange: #cb5b43;
$orangeLight:#CB5B434D;
$checkBox:#F8FAFB;

/* Generally used color*/
$white: #ffffff;
