@import '../../styles/heading.scss';
@import '../../styles/paragraph.scss';
@import '../../styles/color.scss';

@mixin btn {
  display: flex;
  align-items: center;
  border-radius: 14px;
  border: none;
  padding: 0;
  height: 44px;
}
@mixin btn-area {
  display: flex;
    div{
      position: relative;
      margin-right: -44px;
      img{
        width: 44px;
        height: 44px;
      }
    }
  
}

.textbook {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: $greyLight;

  // styles for heading

  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    background-color: $white;
    padding: 20px;
    border-radius: 14px;;
    .icon{
      display: flex;
      img{
        padding-right: 12px;
      }
    }
    .buttons{
      display: flex;
      gap:10px;
      .sprint {
        @include btn-area;
        button{
          @include btn;
          padding-left: 53px;
          padding-right: 45px;
          letter-spacing: -0.64px;
        }
      }
      .audio{
        @include btn-area;
        button{
          @include btn;
          padding-left: 59px;
          padding-right: 37px;
          letter-spacing: -0.64px;
        }
      }
      .setting{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        background-color: $greyLight;
        border-radius: 4px;
        svg {
          margin: 0 auto; 
          color: $greyIcon;
        }
        &:hover{
          background-color: $cyanDark;
          svg{
            color:$white
          }
        } 
      }
    }
  }

  // styles for subHeading

  .subheading{
    display: flex;
    gap:40px;
    .level{
      display: flex;
      align-items: center;
      gap:12px;
    }
    .selectedLevel{
      display: flex;
      align-items: center;
      gap:12px
    }
  }
  
  // styles for word
}