@import '../../styles/heading.scss';
@import '../../styles/paragraph.scss';
@import '../../styles/color.scss';


.textbook {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: $greyLight;

  // styles for SubTitle
  .subheading{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap:40px;
    .level{
      display: flex;
      align-items: center;
      padding-bottom: 14px;
      gap:12px;
      h4{
        color:$greyDark;
      }
    }
    .selectedLevel{
      display: flex;
      align-items: center;
      padding-bottom: 14px;
      gap:12px;
      border-bottom: solid 2px $black;
    }
    button{
      font-size: 12px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.48px;
      border-radius: 4px;
      padding: 4px 8px;
    }
  }
  
  // style for empty
  .empty{
    display: flex;
    width: 800px;
    gap:30px;
    padding:40px;
    background-color: $white;
    border-radius: 14px;
    margin-bottom: 100px;
    box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px rgba(52, 41, 39, 0.08);
    .right{
      display: flex;
      flex-direction: column;
      gap:40px;
      justify-content: center;
      .text{
        display:flex;
        flex-direction: column;
        gap:14px;
      }
    }
  }

  // style for PageNumber
  .pageNumber{
    display: flex;
    gap:24px;
    align-items: end;
    p{
      color: $black;
    }
  }
  
}