@import '../../styles/heading.scss';
@import '../../styles/paragraph.scss';
@import '../../styles/color.scss';

@mixin btn {
  display: flex;
  align-items: center;
  border-radius: 14px;
  border: none;
  padding: 0;
  height: 44px;
}
@mixin btn-area {
  display: flex;
    div{
      position: relative;
      margin-right: -44px;
      img{
        width: 44px;
        height: 44px;
      }
    }
  
}

.textbook {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: $greyLight;

  // styles for heading

  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    background-color: $white;
    padding: 20px;
    border-radius: 14px;;
    .icon{
      display: flex;
      img{
        padding-right: 12px;
      }
    }
    .buttons{
      display: flex;
      gap:10px;
      .sprint {
        @include btn-area;
        button{
          @include btn;
          padding-left: 53px;
          padding-right: 45px;
          letter-spacing: -0.64px;
        }
      }
      .audio{
        @include btn-area;
        button{
          @include btn;
          padding-left: 59px;
          padding-right: 37px;
          letter-spacing: -0.64px;
        }
      }
      .setting{
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        background-color: $greyLight;
        border-radius: 4px;
        svg {
          margin: 0 auto; 
          color: $greyIcon;
        }
        &:hover{
          background-color: $cyanDark;
          svg{
            color:$white
          }
        } 
      }
    }
  }

  // styles for subHeading

  .subheading{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap:40px;
    .level{
      display: flex;
      align-items: center;
      padding-bottom: 14px;
      gap:12px;
    }
    .selectedLevel{
      display: flex;
      align-items: center;
      padding-bottom: 14px;
      gap:12px;
      border-bottom: solid 1px;
    }
    button{
      font-size: 12px;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.48px;
      border-radius: 4px;
      padding: 4px 8px;
    }
  }
  
  // styles for word detail
  .wordDetail{
    display: flex;
    border-radius: 14px;
    background-color: $white;
    margin-bottom: 40px;
    width: 926px;
    .leftImage {
      position: relative;
      .image{
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .buttonContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: absolute;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      top: 40px;
      right: 0;
      bottom:auto;
      justify-content: flex-end;
      padding: 8px;
      background-color: #000000B2;
      transition: opacity 0.3s ease;
      color: $white;

      
      button{
        display: flex;
        img{
          width: 16px;
          height: 16px;
          margin-top: 3px;
        }
      }
    }

    .rightDetail{
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap:20px;
      .word{
        display: flex;
        flex-direction: column;
        gap:12px;

        .wordName{
          display: flex;
          justify-content: space-between;
          h3{
            display: flex;
            gap:12px;
          }
          .synonyms{
            color:$greyDark;
          }
          .play{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $greyLight;
            border-radius: 4px;
            svg {
              color: $greyIcon;
              width: 24px;
              height: 24px;
            }
            &:hover {
              background-color: $cyanDark;
              svg {
                color: $white;
              }
            }
          }
        }
        p {
          letter-spacing: 0.04em;
          color: $black;
        }
      }
      .explain{
        display: flex;
        flex-direction: column;
        gap:12px;
        p{
          font-weight: 500;
          line-height: 150%;
        }
        .definition{
          color:$black;
        }
      }
      .buttons{
        display: flex;
        gap:20px;
      }
      
    }
  }

  // style for empty
  .empty{
    display: flex;
    width: 800px;
    gap:30px;
    padding:40px;
    background-color: $white;
    border-radius: 14px;
    .right{
      display: flex;
      flex-direction: column;
      gap:40px;
      justify-content: center;
      .text{
        display:flex;
        flex-direction: column;
        gap:14px;
      }
    }

  }

}