@import '../../styles/color.scss';

.header {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    position: relative;
    width: 1920px;
    /* Primaty/Grey Light */
    background: $greyLight;
  }
  
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1180px;
}

.nav {
  display: flex;
  gap: 30px;
  height: 22px;
  display: flex;
  align-items: center;

  &__heading {
    font-family: 'Dela Gothic One';
    font-size: 20px;
    letter-spacing: -0.02em;
  }

  &__divide {
    /* Primaty/Grey Medium */
    color: $greyMedium;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__list_item {
    font-family: 'Montserrat';
    line-height: 140%;
    letter-spacing: -0.04em;
    padding: 30px;
    text-decoration: none;
    color: $black;

    &--inactive {
      /* Primaty/Grey Dark */
      color: $greyDark;
    }
  }

  &__title_select {
    border-width: 0;
    /* Primaty/Grey Light */
    background-color: $greyLight;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.04em;

    &--inactive {
      /* Primaty/Grey Dark */
      color: $greyDark;
    }
  }
}

.account_label {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 40px;

  &__user_name_div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__first_letter {
    border-radius: 50%;
    /* Primaty/Cyan Light */
    background-color: $cyanLight;
    /* Primaty/Cyan Dark */
    color: $cyanDark;
    width: 40px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    line-height: 40px;
  }

  &__user_name {
    font-family: 'Montserrat';
    line-height: 140%;
    letter-spacing: -0.04em;
  }

  &__sign_out {
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: -0.04em;
  }
}

