.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 370px;

    position: relative;
    width: 1920px;
    height: 88px;
    
    /* Primaty/Grey Light */
    background: #F6F5F4;
  }
  
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1180px;
    height: 40px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;

  width: 508px;
  height: 22px;

  &__heading {
    font: 'Dela Gothic One';
    font-weight: 400;
    font-size: 20px;
  }

  &__divide {
    color: #E0E0E0;
  }

  &__title {
    font: 'Montserrat';
    font-weight: 600;

    &--inactive {
      color: #757575;
    }
  }

  &__title_select {
    border-width: 0;
    background-color: #F6F5F4;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;

    &--inactive {
      color: #757575;
    }
  }
}

.account_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;

  height: 40px;

  &__user_name_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
  
    height: 40px;
  }

  &__first_letter {
    border-radius: 50%;
    background-color: #C3DCE3;
    color: #2B788B;
    width: 40px;
    height: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    line-height: 40px;
  }

  &__user_name {
    font-family: 'Montserrat';
  }

  &__sign_out {
    font-family: 'Montserrat';
    font-weight: 700;
  }
}
