@import '../../styles/font-color.module.scss';
@import '../../styles/heading.module.scss';

.designContainer {
  display: flex;
  gap: 100px;
}

.headingColumn {
  display: flex;
  flex-direction: column;
}
