@import '../../styles/color.scss';

.fontPrimaryColor--cyanDark {
  color: $cyanDark;
}

.fontPrimaryColor--cyanLight {
  color: $cyanLight;
}

.fontPrimaryColor--pinkDark {
  color: $pinkDark;
}

.fontPrimaryColor--pinkLight {
  color: $pinkLight;
}

.fontPrimaryColor--black {
  color: $black;
}

.fontPrimaryColor--greyLight {
  color: $greyLight;
}

.fontPrimaryColor--greyMedium {
  color: $greyMedium;
}

.fontPrimaryColor--greyIcon {
  color: $greyIcon;
}

.fontPrimaryColor--greyDark {
  color: $greyDark;
}

.fontSecondaryColor--cyan {
  color: $cyan;
}

.fontSecondaryColor--green {
  color: $green;
}

.fontSecondaryColor--pink {
  color: $pink;
}

.fontSecondaryColor--red {
  color: $red;
}

.fontSecondaryColor--yellow {
  color: $yellow;
}

.fontSecondaryColor--orange {
  color: $orange;
}
