.designContainer {
  display: flex;
}
.fontBasestyle {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-size: 32px;
}

.HeadingBasestyle {
  font-family: Dela Gothic One;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 120%;
  color: '#000000';
}
