.designContainer {
  display: flex;
  gap: 100px;
}
.fontBaseStyle {
  font-family: 'Dela Gothic One';
  font-style: normal;
  letter-spacing: -0.04em;
  line-height: 120%;
  font-size: 32px;
}

.headingBaseStyle {
  font-family: 'Dela Gothic One';
  font-style: normal;
  letter-spacing: -0.04em;
  line-height: 120%;
  color: #000000;
}
