@import '../../../styles/color.scss';

.directionInstruction {
  display: flex;
  align-items: center;
  label:first-of-type {
    span {
      color: $pinkDark;
    }
  }
  div {
    background-color: $white;
    box-shadow: 0px 344px 344px rgba(52, 41, 39, 0.08), 0px 183px 183px rgba(52, 41, 39, 0.12),
      0px 92px 92px rgba(52, 41, 39, 0.04), 0px 69px 69px rgba(52, 41, 39, 0.04),
      0px 12px 69px rgba(52, 41, 39, 0.04), 0px 12px 12px rgba(52, 41, 39, 0.04);
    border-radius: 5px;
    padding: 4px 8px;
    margin: 0 4px;
  }
}
