@import '../../../styles/color.scss';

@mixin setButtonSize($size) {
  @if $size == 'normal' {
    padding: 14px 22px;
  } @else {
    // Default case
    padding: 14px 22px;
  }
}

.regularButton {
  @include setButtonSize('normal');
}

.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 100px;
  letter-spacing: -0.04em;
}

/*** Normal Button ***/
.buttonCyanLightColor {
  background: $cyanDark;
  color: $white;
  border: none;
  transition: box-shadow 0.3s;
  &:hover {
    color: $cyanDark;
    background-color: $white;
    box-shadow: inset 0px 0px 0px 3px $cyanDark;
  }
}

@mixin colorSwap($Color--positive, $Color--negative) {
  background: $Color--positive;
  color: $Color--negative;
  border: none;
  &:hover {
    color: $white;
    background-color: $Color--negative;
  }
}

.buttonCyanDarkColor {
  @include colorSwap($cyanLight, $cyanDark);
}

.buttonPinkLightColor {
  @include colorSwap($pinkLight, $pinkDark);
}

/*** BouncingImageButton ***/
.buttonPopup {
  border-radius: 14px;
  padding: 0 0;
  img {
    margin-top: -35px;
  }
  &:hover {
    color: $greyDark;
    border: 3px solid $greyDark;
  }
}

.outlineButtonPinkDarkColor {
  color: $pinkDark;
  border: 3px solid $pinkDark;
}

.outlineButtonCyanDarkColor {
  color: $cyanDark;
  border: 3px solid $cyanDark;
}

/*** Image Button ***/
.profileButton {
  width: 200px;
  height: 200px;
}

.avatarButton {
  width: 40px;
  height: 40px;
}

.objectCover {
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover;
}

.roundFull {
  border: none;
  padding: 0 0;
  border-radius: 100px;
  overflow: hidden;
}
