@import '../../../styles/color.scss';

@mixin setButtonSize($size) {
  @if $size == 'tiny' {
    padding: 1px 4px;
  } @else if $size == 'small' {
    padding: 3px 8px;
  } @else if $size == 'normal' {
    padding: 6px 12px;
  } @else if $size == 'large' {
    padding: 14px 22px;
  } @else {
    // Default case
    padding: 6px 12px;
  }
}

.largeButton {
  @include setButtonSize('large');
}

.normalButton {
  @include setButtonSize('normal');
}

.smallButton {
  @include setButtonSize('small');
}

.tinyButton {
  @include setButtonSize('tiny');
}

.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 100px;
  letter-spacing: -0.04em;
}

/*** Normal Button ***/
.buttonSecondaryColor {
  background: $cyanDark;
  color: $white;
  border: none;
  transition: box-shadow 0.3s;
  &:hover {
    color: $cyanDark;
    background-color: $white;
    box-shadow: inset 0px 0px 0px 3px $cyanDark;
  }
}

@mixin colorSwap($Color--positive, $Color--negative) {
  background: $Color--positive;
  color: $Color--negative;
  border: none;
  &:hover {
    color: $white;
    background-color: $Color--negative;
  }
}

.buttonPrimaryColor {
  @include colorSwap($cyanLight, $cyanDark);
}

.buttonPinkColor {
  @include colorSwap($pinkLight, $pinkDark);
}

/*** BouncingImageButton ***/
.buttonPopup {
  border-radius: 14px;
  padding: 0 0;
  img {
    margin-top: -35px;
  }
  &:hover {
    img {
      transform: translateY(-5px);
    }
  }
}

/*** Outline Button ***/
.buttonGreyColor{
  color: $greyIcon;
  border: 3px solid $greyIcon;
  &:hover{
    color: $greyDark;
    border: 3px solid $greyDark;
  }
}
