@import '../../../styles/color.scss';

@mixin setButtonSize($size) {
  @if $size == 'normal' {
    padding: 14px 22px;
  } @else if $size == 'round' {
    width: 44px;
    height: 44px;
  } @else if $size == 'rectangle' {
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.48px;
    border-radius: 4px;
    padding: 4px 8px;
  } @else {
    // Default case
    padding: 14px 22px;
  }
}

.button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 100px;
  letter-spacing: -0.04em;
}

.normalButton {
  @include setButtonSize('normal');
}

.roundButton {
  @include setButtonSize('round');
}
.rectangleButton {
  @include setButtonSize('rectangle');
}
/*** Normal Button ***/
.buttonCyanLightColor {
  background: $cyanDark;
  color: $white;
  border: none;
  transition: box-shadow 0.3s;
  &:hover {
    color: $cyanDark;
    background-color: $white;
    box-shadow: inset 0px 0px 0px 3px $cyanDark;
  }
}

@mixin colorSwap($Color--positive, $Color--negative) {
  background: $Color--positive;
  color: $Color--negative;
  border: none;
  &:hover {
    color: $white;
    background-color: $Color--negative;
  }
}

@mixin colorSwapBack($Color--positive, $Color--negative) {
  background: $Color--positive;
  color: $white;
  border: none;
  &:hover {
    color: $Color--positive;
    background-color: $Color--negative;
  }
}

.buttonCyanDarkColor {
  @include colorSwap($cyanLight, $cyanDark);
}

.buttonPinkLightColor {
  @include colorSwap($pinkLight, $pinkDark);
}

.buttonGreenLightColor {
  @include colorSwap($greenLight, $green);
}

.buttonYelloLightColor {
  @include colorSwap($yellowLight, $yellow);
}

.buttonOrangeLightColor {
  @include colorSwap($orangeLight, $orange);
}

.buttonGreenColor {
  @include colorSwapBack($green, $greenLight);
}

.buttonYellowColor {
  @include colorSwapBack($yellow, $yellowLight);
}

.buttonOrangeColor {
  @include colorSwapBack($orange, $orangeLight);
}
/*** BouncingImageButton ***/
.buttonPopup {
  border-radius: 14px;
  padding: 0 0;
  img {
    margin-top: -35px;
  }
  &:hover {
    color: $greyDark;
    border: 3px solid $greyDark;
  }
}

.outlineButtonPinkDarkColor {
  color: $pinkDark;
  border: 3px solid $pinkDark;
}

.outlineButtonCyanDarkColor {
  color: $cyanDark;
  border: 3px solid $cyanDark;
}

.outlineButtonGreenColor {
  color: $green;
  border: 3px solid $green;
  &:hover {
    background-color: rgba(99, 155, 109, 0.3);
  }
  &:active {
    background-color: $orange;
    color: $white;
  }
}
.outlineButtonYellowColor {
  color: $yellow;
  border: 3px solid $yellow;
  &:hover {
    background-color: rgba(196, 162, 76, 0.3);
  }
  &:active {
    background-color: $orange;
    color: $white;
  }
}
.outlineButtonOrangeColor {
  color: $orange;
  border: 3px solid $orange;
  &:hover {
    background-color: rgba(203, 91, 67, 0.3);
  }
  &:active {
    background-color: $orange;
    color: $white;
  }
}
.outlineButtonRedColor {
  color: $red;
  border: 3px solid $red;
  &:hover {
    background-color: rgba(169, 81, 81, 0.3);
  }
  &:active {
    background-color: $orange;
    color: $white;
  }
}
.outlineButtonPinkColor {
  color: $pink;
  border: 3px solid $pink;
  &:hover {
    background-color: rgba(161, 89, 147, 0.3);
  }
  &:active {
    background-color: $orange;
    color: $white;
  }
}
.outlineButtonCyanColor {
  color: $cyan;
  border: 3px solid $cyan;
  &:hover {
    background-color: rgba(89, 150, 165, 0.3);
  }
  &:active {
    background-color: $cyanDark;
    color: $white;
  }
}

/*** Image Button ***/
.profileButton {
  width: 200px;
  height: 200px;
}

.avatarButton {
  width: 40px;
  height: 40px;
}

.objectCover {
  width: 100%; /* Make the image fill the container */
  height: 100%;
  object-fit: cover;
}

.roundFull {
  border: none;
  padding: 0 0;
  border-radius: 100px;
  overflow: hidden;
}
