@import '../../styles/color.scss';

/*** Sprint Dash ***/
.sprintDashContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 710px;
  background-color: $greyLight;
}
