@import '../../styles/color.scss';

/*** Sprint summary ***/
@mixin sectionGridLayout {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sprintSummaryContainer {
  background-color: $greyLight;
  padding: 100px 314.5px;
  display: flex;
  gap: 10px;
  > div:first-of-type {
    background-color: $white;
    border-radius: 14px;
    padding: 63px 40px;
    width: 620px;
  }
}

.summaryDetails {
  display: flex;
  margin-bottom: 33px;
  width: 540px;
  height: 206px;
  img {
    width: 280px;
    height: 200px;
  }
  .summaryComment {
    margin: 12px 0 23px 0;
  }
  .summaryDashGroup {
    display: flex;
    gap: 23.05px;
  }
}

.summaryButtonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  > button:first-of-type {
    display: flex;
    position: relative;
    align-items: center;
    border: none;
    background-color: $white;
    img {
      position: absolute;
      left: -10.44px;
      top: -5%;
      bottom: 6.25%;
    }
    p {
      font-size: 16px;
      font-weight: 700;
      margin: 0 30px 0 10.44px;
      margin-top: 0;
    }
  }
}

.vocabularyListContainer {
  background-color: $white;
  border-radius: 14px;
  padding: 40px 40px;
  display: flex;
  gap: 18px;
  width: 661px;
  .knowList{
    width:254px;
  }
  .unKnowList{
    width:288px;
  }
}

.titleListContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-bottom: 32px;
}
